<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="sidebar-header">
            <a href="/">
                <img src="/assets/images/hardcaml-logo.png" id="hardcaml-logo">
            </a>
        </div>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sidebar"
                aria-controls="sidebar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <img src="/assets/images/hamburger-icon.png" id="hamburger-icon">
        </button>
    </div>
</nav>
