<nav id="sidebar">
	  <div class="sidebar-header">
		    <h3><a href="/">Hardcaml</a></h3>
	  </div>
	  <ul class="nav-links">
        {% for item in site.data.nav %}
        <a href="{{ item.link }}">
            <li>
                {{ item.title }}
                {% if item.sublinks %}
                <ul>
                    {% for sublink in item.sublinks %}
                    <a href="{{ sublink.link }}">
                        <li>{{ sublink.title }}</li>
                        {% if sublink.sublinks %}
                        <ul>
                            {% for subsublink in sublink.sublinks %}
                            <a href="{{ subsublink.link }}">
                                <li>{{ subsublink.title }}</li>
                            </a>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </a>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        </a>
        {% endfor %}
	  </ul>
</nav>
