<nav id="sidenav" class="dashboard-nav-list">
    <ul class="nav flex-column">
        {% for section in site.data.nav %}
        <li class="nav-item">
            <a class="nav-link" href="{{ section.link}}">{{ section.title }}</a>
            {% if section.sublinks %}
            <ul class="sidenav-collapse show">
                {% for link in section.sublinks %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link.link }}">
                        {{ link.title }}
                    </a>
                    {% if link.sublinks %}
                    <ul class="sidenav-collapse show">
                        {% for sublink in link.sublinks %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ sublink.link }}">{{ sublink.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </nav>
