
<div class="splash-header">

	<div class="content">

	<img class="logo-splash" src="/assets/images/logo-splash-high-contrast.png">

		<div class="text">

			<h1>HARDCAML</h1>

			<p>In 2022, the hardcamls team (Andy Ray, Ben Devlin, Fu Yong Quah, Rahul Yesantharao) participated in the Zprize competition. We competed in the Multi-Scalar Multiplication (MSM) and Inverse Number Theoretic Transform (INTT).</p>

			<p>Read on to find out more about our submissions and view the code on <a href="https://github.com/fyquah/hardcaml_zprize">github</a>.</p>

		</div>

	</div>

</div>