
<div class="splash-header">

	<div class="content">

	<img class="logo-splash" src="/assets/images/logo-splash-high-contrast.png">

		<div class="text">

			<h1>HARDCAML</h1>

			<p>In 2022, we, the team who develops Hardcaml 
      (<a href="https://github.com/andrewray">Andy Ray</a>, 
      <a href="https://github.com/bsdevlin">Ben Devlin</a>, 
      <a href="https://github.com/fyquah">Fu Yong Quah</a>, and 
      <a href="https://github.com/rahulyesantharao">Rahul Yesantharao</a>)
      participated in the <a href="https://www.zprize.io/">ZPrize competition</a>. 
      We competed in the Multi-Scalar Multiplication (MSM) and Number Theoretic Transform (NTT) tracks, winning the MSM FPGA track.</p>

			<p>Read on to find out more about our submissions and view the code on <a href="https://github.com/fyquah/hardcaml_zprize">github</a>.</p>

		</div>

	</div>

</div>
