nav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 9;
    background-color: black;
    padding: 21px 0;
    z-index: 999;

    .container-fluid {
        justify-content: flex-start;
    }

    .navbar-toggler {
	    border: 0;
	    box-shadow: none;
    }
    #hamburger-icon {
        width: 30px;
        margin-left: 20px;
    }

    #hardcaml-logo {
        width: 200px;
    }
}
