
$light-font: "Alright Sans LTV Light", "Alright Sans Light", Helvetica, Arial, sans-serif;
$regular-font: "Alright Sans LTV Regular", "Alright Sans", Helvetica, Arial, sans-serif;
$med-font: "Alright Sans LTV Med", "Alright Sans Med", Helvetica, Arial, sans-serif;
$bold-font: "Alright Sans LTV Bold", "Alright Sans Bold", Helvetica, Arial, sans-serif;

$page-margin: 80px;

$shadow-bottom: 0 2px 5px rgba(0,0,0,.35);
$shadow-right: 1px 0 3px rgba(0,0,0,.3);

$link-color: #e15ca0;
$peppermint: #daf3dc;
