
#sidebar {
    background: black;
    color: #fff;
    transition: all 0.3s;
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;

    a {
        color: black;
        text-decoration: none;
        &:hover {
            background-color: #c1d5c3;
        }
    }

    #hardcaml-logo {
        width: 180px;
    }
    .components {
        background-color: #daf3dc;
    }

    &.active {
        margin-left: -300px;
    }

    .sidebar-header {
        padding: 20px;
        a, a:hover {
            background: transparent;
            text-decoration: none;
        }
    }

    ul.components {
        border-bottom: 1px solid #47748b;
        background-color: #daf3dc;

        li {
            a {
                display: block;
                padding: 10px 20px;
            }
            ul li {
                font-size: 0.9em !important;
                a {
                    padding-left: 40px;
                }
                ul li a{
                    padding-left: 60px;
                }
            }
        }

        li.active > a, a[aria-expanded="true"] {
            background-color: #c1d5c3;
        }
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
