---
---

@charset "utf-8";

@import "fonts";
@import "settings";
@import "header-nav";
@import "sidebar";
@import "splash-header";
@import "landing";


body {
    font-family: $regular-font;
}

h1 {
  font-family: $bold-font;
	font-size: 28px;
  margin-bottom: 45px;
  text-transform: uppercase;
  &:not(:first-child) {
  	margin-top: 55px;
  }
}

h2 {
  font-family: $medium-font;
	font-size: 22px;
  margin: 50px 0 20px;
  text-transform: uppercase;
}

h3 {
  font-family: $medium-font;
	font-size: 18px;
  margin: 30px 0 15px;
}

p {
	  font-family: $regular-font;
	  font-size: 16px;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: $link-color;
	}
}

a > code {
	color: $code-color;
	&:hover {
		color: $code-color;
	}
}

.kdmath {
	margin-bottom: 20px;
}

.wrapper {
    display: flex;
    align-items: stretch;

    #content {
    		position: relative;
        width: 100%;
        margin-top: 86px;
        transition: all 0.2s;
    }

    .page {
    	position: relative;
    	padding: $page-margin;
    	margin-bottom: 150px;
    	left: 50%;
    	transform: translate(-50%);
    	max-width: 1000px;
    	img {
    		max-width: 100%;
    	}
    }
}

@media (min-width: 993px) {
    #content {
        margin-left: 300px;
    }
}

@media (max-width: 992px) {
    body.sidenav-active #content {
        margin-left: 300px;
    }
}

@media (max-width: 500px) {
		.wrapper {
				.page {
					 padding: $page-margin-mobile;
				}
		}
}
